{
    "servers": [
        {
            "hostname": "172.86.119.142",
            "username": "root"
        },
        {
            "hostname": "81.19.210.22",
            "username": "tayyebi",
            "key_filepath": "/home/tayyebi/.ssh/id_rsa",
            "connect_timeout": 10,
            "banner_timeout": 10,
            "nested_delay": 20,
            "then": {
                "hostname": "45.61.174.183",
                "username": "normi",
                "port": 5687,
                "connect_timeout": 10,
                "banner_timeout": 10,
                "final_refresh_delay": 10
            }
        }
    ]
}
